<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-sfdc-5.4.7-SNAPSHOT.jar" contributionJavaDocs="mule-module-sfdc-5.4.7-SNAPSHOT-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-sfdc-5.4.7-SNAPSHOT.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/sfdc" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd" contributionNamespacePrefix="sfdc" contributionSources="mule-module-sfdc-5.4.7-SNAPSHOT-src.jar" contributionType="cloud-connector" contributionVersion="5.4.7-SNAPSHOT" minimumVersion="3.5" name="Salesforce (OAuth)" path="editors.xml" version="5.4.7-SNAPSHOT"/></extension></plugin>